.main-content{
    background-color: lightgray;
    height: 700px;
    width: 500px;
    margin-inline: auto;
    font-family: sans-serif;
    padding-top: 40px;
    color: #757575;
}

h1{
    text-align: center;
}

.form-row{
    width: 100%;
    float: left;
    margin: 10px 0px;
    text-align: center;
}

.form-row-block{
    margin: auto;
}

.form-row-label{
    width: 90px;
    float: left;
    text-align: right;
    font-size: small;
}

.form-row-input{
    margin-left: 10px;
    float: left;
    text-align: left;
    width: 240px;
    font-size: small;
}


.submit-btn{
    width: 70px;
    color: white;
    background-color: #5994D9;
    padding: 10px;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .main-content{
        width: 300px;
        height: 800px;
    }
    .form-row-label{
        text-align: left;
    }
    .form-row-input{
        margin-left: 0px;
        width: 180px;
    }
    .input-max-width-500px{
        width: 175px;
    }
    .submit-btn{
        width: 160px;
    }
  }
